<% provide(:title, "About") %>

<h1>Giving Gardens</h1>
<h2>What are the Giving Gardens?</h2>
<p>The giving gardens are a collaborative effor of local organizations that aim to improve the health of Poweshiek County residents by providing access to fresh, local produce. During the growing season, the Giving Gardens depend on volunteers to maintain the gardens and havest food. The harvested produce is then delivered to locations where community member can receive it including: MICA, UPH-GRMC Public Health, the Senior Center, Brookside Housing, and the Station Clubhouse. Area farmers and gardeners are encouraged to donate excess produce to these locations.</p>
<h2>Who Benefits?</h2>
    <ul>
        <li>Everyone and anyone!</li>
        <li>Those with limited income</li>
        <li>Anyone wanting to try new produce</li>
        <li>Neighbors to the gardens</li>
        <li>Friends at Brookside Housing, the Senior Center, the Station Clubhouse, or MICA</li>
    </ul>
<h2>How did the Gardens get started?</h2>
<p>The gardens began with the Grinnell Regional Medical Center garden in 2013. The Grinnell Giving Gardens were created to provide healthy food options that were not previously accessible to Poweshiek County families. The first steps in creating the Giving Gardens was made possible by the Community Transformation Grant, which supported the purchase of gardening tools and supplies and a refrigerator for the produce, as well as community donations of seeds for the gardens. Today, with the assistance of grants and donations from the local community, the Giving Gardens sustainably produce fresh fruits, vegetables, and herbs that community members can access at no cost. The gardens encourage local residents to improve their health by choosing healthier options.</p>
