<% provide(:title, "Gardens") %>
<h1>Gardens</h1>

<iframe src="https://www.google.com/maps/d/embed?mid=1BEALpP8SF9NVyPEwRN_KMDXW6Fm7QJ4U" width="90%" height="400px"></iframe>

<!-- Garden 1-->
<h4>Ahrens Park Garden -  1510 Penrose</h4>
<ul>
  <li>Maintained by the Claude and Dolly Ahrens Foundation, contact Chad Nath 236-5518
      with inquiries. </li>
  <li> Look for Facebook Shares on <a href=
      "https://www.facebook.com/AhrensFoundation/">
      Claude W. & Dolly Ahrens Foundation/Ahrens Park Foundation </a>. </li>
</ul>

<!-- Garden 2-->
<h4>Bailey Park Elementary Garden - 210 8th Ave.</h4>
<ul>
  <li>Maintained by students, staff, and volunteers. For questions, contact Josh Smith, school
      principal (641)-236-2770. </li>
  <li> Currently sharing on
       <a href=
       "https://www.facebook.com/Bailey-Park-Elementary-School-1646201768970383/">
       Bailey Park Elementary School </a> facebook page and emails to parents.</li>
</ul>

<!-- Garden 3-->
<h4>Davis Elementary School - 818 Hamilton</h4>
<ul>
  <li>Maintained by students, staff, and volunteers. For questions, contact
      Brian Conway, school principal (641)236-2786.</li>
  <li> Look for for Facebook shares on
     <a href=
      "https://www.facebook.com/daviselem/">
      Davis Elementary </a> or emails to parents.</li>
</ul>

<!-- Garden 4-->
<h4>Fairview Elementary Garden – 1310 Hobart St.</h4>
<ul>
  <li>Maintained by students, staff, and volunteers. For questions, contact
      Sarah Seney, school principal (641)236-2780.</li>
  <li> Currently sharing on
     <a href=
      "https://www.facebook.com/daviselem/">
      Fairview Elementary- Grinnell Newburg School District </a>
      Facebook page.</li>
</ul>

<!-- Garden 5-->
<h4>Grinnell Community Early Learning Center Garden – 1436 Penrose</h4>
<ul>
  <li>Maintained by volunteers at the Grinnell Community Early Learning Center. For
      questions contact Valerie Steinbach (641)236-7214</li>
  <li> Currently sharing information through newsletters.</li>
</ul>

<!-- Garden 6-->
<h4>Marvin Garden- Marvin Ave. West of Los Girasoles</h4>
<ul>
  <li>No Information to Display</li>
</ul>

<!-- Garden 7-->
<h4>St. John’s Lutheran Church Garden - 1224 East St.</h4>
<ul>
  <li>Lamoyne Gaard</li>
  <li> Facebook- Hey, Grinnell did you know</li>
</ul>

<!-- Garden 8-->
<h4>Summer Street Garden - 736 Summer St.</h4>
<ul>
  <li>Rod Rosburg- contact rrosburg@gmail.com (641)990-1616.</li>
  <li> Have used the Rotary facebook page to share information on the garden.</li>
</ul>

<!-- Garden 9-->
<h4>UPH-GRMC Garden - 306 4th Ave.</h4>
<ul>
  <li>Holly Petlon, 236-2999.</li>
  <li> UPH-GRMC facebook page and the HUB (internal communication).</li>
</ul>

<!-- Garden 10-->
<h4>Brooklyn</h4>
