<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<%= image_tag ( "exampleimage.jpg"), alt:"An image of the Grinnell Gardens logo"   %>
<h2> What are the Giving Gardens? </h2>
<p>The Giving Gardens are a collaborative effort of local organizations that aim to improve the health of Poweshiek County residents by providing access to fresh, local produce. During the growing season, the Giving Gardens depend on volunteers to maintain the gardens and harvest food. The harvested produce is then delivered to locations where community members can receive it, such as, MICA, UPH-GRMC Public Health, the Senior Center, Brookside Housing, and the Station Clubhouse. Area farmers and gardeners are encouraged to donate  excess produce to these locations.</p>

<h2>Where can I find more details about the gardens?</h2>
<p> Look in the About and Locations tab! </p>

<%= image_tag ( "anotherexampleimage.jpg"), alt:"An image of the plants in the Grinnell Giving Gardens"   %>
<%= image_tag ( "yetanotherexampleimage.jpg"),  alt:"A scenic image of bikers in Grinnell" %>

</body>
</html>


