<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<img src="assets\templogo.png" alt="GrinnellGivingGardensLogo"
     style="width:415px;height:115px;">
<h2> Overview </h2>
<p>Grinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in GrinnellGrinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
  by giving Grinnell a garden with gardens in Grinnel</p>
<p>Grinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in GrinnellGrinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
  by giving Grinnell a garden with gardens in Grinnel</p>
<p>Grinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in GrinnellGrinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnel</p>
<img src="assets\exampleimage.jpg" alt="exampleimage"
     style="width:551px;height:330px;">
<img src="assets\anotherexampleimage.jpg" alt="anotherexampleimage"
     style="width:498px;height:330px;">
<img src="assets\yetanotherexampleimage.jpg" alt="yetanotherexampleimage" style="width:660px;height:330px;">
<h2> Sign up! </h2>
Sign up for this thing (insert link here)
</body>
</html>
