<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<%= image_tag ( "templogo.png")   %>
<h2> What are the Giving Gardens? </h2>
<p>The Giving Gardens are a collaborative effort of local organizations that aim to improve the health of Poweshiek County residents by providing access to fresh, local produce. During the growing season, the Giving Gardens depend on volunteers to maintain the gardens and harvest food. The harvested produce is then delivered to locations where community members can receive it, such as, MICA, UPH-GRMC Public Health, the Senior Center, Brookside Housing, and the Station Clubhouse. Area farmers and gardeners are encouraged to donate  excess produce to these locations.</p>

<h2>Who do the Gardens Benefit?</h2>
<ul>
  <li> Everyone and anyone! </li>
  <li> Those with limited income </li>
  <li> Anyone wanting to try new produce</li>
  <li> Neighbors to the gardens </li>
  <li> Friends at Brookside Housing, the Senior Center, the Station Clubhous, or MICA </li>
</ul>

<h2>Where can I get produce from the gardens></h2>
<ul>
  <li> Pick your own vegetables directly from the gardens. Available produce is announced on the Facebook pages for Imagine Grinnell</li>
  <li> Produce is delivered to the MICA food pantry, located at 609 4th Ave., Grinnell. Produce is available to anyone when visiting MICA. Hours of operation are Monday-Friday 8:30-4:30pm.</li>
  <li> Occasionally produce is delivered to UPH-GRMC Public Health, the Senior Center, Brookside Housing, or The Station Clubhouse. </li>
</ul>

<h2>Where can I find more details about the gardens?</h2>
<p> Look in the About and Locations tab! </p>

<h2> How did the Gardens get started?</h2>
<p>The gardens began with the Grinnell Regional Medical Center garden in 2013. The Grinnell Giving Gardens were created to provide healthy food options that were not previously accessible to Poweshiek County residents.</p>
<p>The first steps in creating the Giving Gardens was made possible by the Community Transformation Grant, which supported the purchase of gardening tools and supplies and a refrigerator for the produce, as well as community donations of seeds for the gardens. </p>
<p>Today, with the assistance of grants and donations from the local community, the Giving Gardens sustainably produce fresh fruits, vegetables, and herbs that community members can access at no cost. The gardens encourage local residents to improve their health by choosing healthier options.</p>

<%= image_tag ( "exampleimage.jpg")   %>
<%= image_tag ( "anotherexampleimage.jpg")   %>
<%= image_tag ( "yetanotherexampleimage.jpg")   %>

</body>
</html>


