<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<%= image_tag ( "templogo.png")   %>
<h2> Overview </h2>
<p>Grinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in GrinnellGrinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
  by giving Grinnell a garden with gardens in Grinnel</p>
<p>Grinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in GrinnellGrinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
  by giving Grinnell a garden with gardens in Grinnel</p>
<p>Grinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in GrinnellGrinnel Giving Gardens are gardens that give to Grinnell. Grinnell Giving
Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnell. Grinnel Giving
  Gardens are gardens that give to Grinnell. Grinnell Giving Gardens gives to Grinnell by giving gardens with various produce to Grinell
by giving Grinnell a garden with gardens in Grinnel</p>
<%= image_tag ( "exampleimage.jpg")   %>
<%= image_tag ( "anotherexampleimage.jpg")   %>
<%= image_tag ( "yetanotherexampleimage.jpg")   %>

</body>
</html>


