<h3>Placeholder for form for User creation</h3>

<%= form_with model: @user, local: true, builder: LabellingFormBuilder do |f| %>
    <%= f.text_field :id %>
    <%= %>
    <%= f.submit "Sign Up" %>
<% end %>
