/* header and navbar */

$std_green: YellowGreen;
$bgrd_colour: WhiteSmoke;

#header {
    padding: 0;
    margin: 0;
}

#navbar {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid $std_green;
    box-shadow: 0px 5px 4px LightGray;
}

#navbar ul {
    padding: 0;
    margin: 0;
}

#navbar li {
    list-style: none;
    display: inline-block;
    width: 20%;
}

#navbar a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $std_green;
    border-radius: 8px 8px 0px 0px;
    &:visited {
       /* override purpling of links */ 
    }
    &:hover {
        background-color: $std_green;
        color: $bgrd_colour;
    }
}

.navCurrentLink {
    background-color: $std_green;
    color: $bgrd_colour !important; /* keyword to override above settings; technically bad practice */
                             /* Should cascade from id to class, but we don't class the link, so...*/
}


