/* colour standardization */

$bgrd_colour: FloralWhite;
$text_colour: Black;


/* static pages body */

html {
    height: 100%;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    color: $text_colour;
    background-color: $bgrd_colour;
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

#body_contents {
    padding: 16px;
    flex: 1;
}
